annotated-doc 
annotated-types 
anyio 
blinker 
certifi 
cffi 
charset-normalizer 
click 
colorama 
cryptography 
fastapi 
Flask 
google-ai-generativelanguage 
google-api-core 
google-api-python-client 
google-auth 
google-auth-httplib2 
google-generativeai 
googleapis-common-protos 
grpcio 
grpcio-status 
gunicorn 
h11 
httplib2 
idna 
itsdangerous 
Jinja2 
MarkupSafe 
numpy 
opencv-python 
opencv-python-headless 
packaging 
pdf2image 
pillow 
proto-plus 
protobuf 
pyasn1 
pyasn1_modules 
pycparser 
pydantic 
pydantic_core 
pyparsing 
pytesseract 
python-dotenv 
requests 
starlette 
tqdm 
typing-inspection 
typing_extensions 
uritemplate 
urllib3 
uvicorn 
Werkzeug 
